.head { 
    padding: 50px;
    background-color:palevioletred;
    margin-top: 0px;
    border: 2px solid black;

}

nav {
    margin-left: 25%;
    word-spacing: 50px;
    font-size: 175%;
    width: 100%;
    position: absolute;
    top: 0;
    margin-top: 60px;
    }

.dotted-border { 
    border: 5px dotted black; 
    
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    float: left;
    
  }

  .par1 {
      position: relative;
      margin-top: 0%;
      padding: 50px;
  }
      
  .head2 {
      padding: 10px;
  }

  .dotted-border2 {
    border: 5px dotted black; 
    margin-top: 10px;
  }